header {
    background-color: black;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0078d4;
}

.titlebar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.beechmei {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkcss {
    padding-left: 20px;
    color: gray;
}

.linkcss:hover {
    color: white;
}

.buttonDownload {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 7px;
    padding-left: 0px;
    width: 120px;
    padding-right: 0px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
}

.searching {
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 8px;
    font-size: 16px;
    background-color: black;
}

.banner {
    padding: 10px;
    background-color: black;
    color: gray;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bannerLink {
    padding-right: 8px;
}

.hero {
    background: linear-gradient(180deg, #0e0e0e 0%, #141414 100%);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.heroContainer {
    display: flex;
    justify-content: space-between;
}

.heroContainer > div {
    text-align:left;
}

.buttonBanner {
    color: #9ba3b4;
    background-color: rgba(255,255,255,0.04);
    padding: 10px;
    font-size: 16px;
    border-radius: 32px;
    border: 1px solid rgba(255,255,255,0.07);
}

.cta-button {
    display: inline-block;
    background: #0078d4;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

section {
    background-color: black;
}

.hero h2 {
    font-size: 3em;
    margin: 1;
}